$clrPostBorder: #cccccc;
$clrPostBackground: #eeeeee;

// constant scss for main 
// Colors for meal share title
$clrMeal: #f49b42;
$clrShare: #4283f4;


// constant scss for table 
$clrBckgnd: #8c9093;