
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.post_list {
  padding-top: 10px;
}

.post {
  border-color: $clrPostBorder;
  border-style: solid;
  border-width: 1px;
  background: $clrPostBackground;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  @include border-radius(16px);
}

.main_content{
}

//title scss
.title { 
  font-weight:bold;
  font-size: 80px;
  text-align:center;
}

#meal{ color: $clrMeal;}
#share{ color: $clrShare;}

//button display
.button_row{
  div.btn1{
    display:inline-block;
    float: left;
    width: 100px;
    margin-right: 100px;
  }
  div.btn2{
    display:inline-block;
    width: 100px;
    margin:auto;
  }
}

.buttons{
  border-color:black;
  margin-bottom:10px; 
}
.signed_btns{
  display:inline-block;
}



.btn-success{
  background-color: #228B22;
}

a.btn-success:hover{
  background-color: #228B22;
}

.text{
  width:100%;
  font-size:24px;
  text-align: center;
  margin-right:10%;
  border-bottom-style: solid;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.how-it-works{
  font-size: 18px;
  margin-left: 90px;
  .list{
    list-style: none;
    display:block;

    .img-desc{
      height: 80px; 
      width: 80px;
      margin-left: 50px;
    }
    .img-desc2{
      height: 80px; 
      width: 80px;
    }
    .fa-users{
      font-size: 80px;
      margin-left: 50px;
      color: #a5a9af;
    }
  }

  .desc{
    margin-top: 20px;
    width: 200px;
  }
}

.btn{
  padding-right:50px;
  padding-left:50px;
}


.item_quantity{
  display: inline;
  span.item_number{
    padding: 0px 10px 2px 10px; // top, right, bot, left
    border-style: solid;
  }
}

.footer{
  padding-top: 0px;
  height: 70px;
}


.flaticon{
  padding-top: 5px;
  height: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  clear:both;
}
